h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

html, body {
    height: 95%;
}

.main {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.wrapper {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 10%;
}

ul {
    list-style-type: none;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 360px;
    margin: 20px auto;
    align-items: center;
    padding: 25px;
}

ul summary {
    margin: 5px;
}

ol {
    margin: 15px;
}

ol li {
    margin: 5px;
}

.ticket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}


